*.pyc
__pycache__/
*/__pycache__/
.venv/
dist/
build/
models/
.env
Icons/
bart-large-mnli/*
finetuned_distilbert_bert
release
QuickMoveInstaller.exe
*.jar
*.txt
Outputs/
install_build/
*.csv
finetuned_distilbert/

artifacts/

bibles/